<ion-header>
    <ion-toolbar>
        <ion-title>
            Home page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" color="primary" expand="block">Register</ion-button>

                <span class="divider line one-line">or</span>

                <ion-button [routerLink]="['/login']" color="danger" expand="block">Sign In</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
